[user]
	email = dusanterzic87@gmail.com
	name = Dushan Terzikj
[alias]
	co = checkout
	cob = checkout -b
	b = branch
	st = status
	a = add
	aa = add -A .
	c = commit -m
	ac = !git add -A . && git commit -m
	amend = commit --amend -m
	p = push
	l = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
	
